#background-ele {
    height : 500px;
    width : 100%;

    background-color : lightgreen;  
    background-image : url('https://images-na.ssl-images-amazon.com/images/I/A1RwsHql1fL.jpg');
    background-size : cover;
    /* background-size : contain;   */

    /* fix cứng background, ko quận cứng theo trang */
    background-attachment: fixed;

}

.bg-lightgreen {
    width : 100%;
    height: 1000px;
    background-color: lightgreen;
}
