#flagpart1{
    background-color : black;
    height : 100px;
    width : 30%;
    color: white;
}

#flagpart2{
    background-color : red;
    height : 100px;
    width : 30%;
}

#flagpart3{
    background-color : yellow;
    height : 100px;
    width : 30%;
}